
Library/ArtifactDB
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/TundraBuildState.state.map
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1-prev.log
UserSettings/Layouts/default-2021.dwlt
